@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    outline: 0;
}
/* body{ */
    /* margin: 0.5rem 2rem; */
/* } */
/* ###################### Header CSS ######################  */
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px;
    /* border: 2px solid; */
    /* background: #5f5f5f; */
    margin: 0.5rem 2rem;
}
.logo-div{
    margin: 4px;
}
.logo-img{
    width: 90px;
    border-radius: 50%;
}
.header-items{
    display: flex;
}
.nav-items{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
    /* text-decoration: none; */
}
.nav-item{
    list-style: none;
    border-radius: 5px;
    font-weight: 500;
    /* text-decoration: none; */
}
.nav-item:hover{
    cursor: pointer;
    text-decoration: underline;
}
.nav-item a{
    text-decoration: none;
    color: #000;
}
.login-btn{
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    border: transparent;
    background-color: #6e6ef8;
    color: #fff;
}
.login-btn:hover{
    text-decoration: underline;
    background-color: #5555e8;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 5px; */
    box-shadow: rgba(200, 200, 200, 0.45) 0px 5px 5px;

}

/* ###################### Footer CSS ######################  */
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px;
    background: #000;
    color: #fff;
    position: relative;
    left: 0;
    bottom: 0;
    height: 150px;
    margin-top: 4rem;
    padding: 0 0 0 3rem;
    /* position: fixed; */
    /* margin: -0.5rem -2rem; */
    /* width: 102%; */
    /* border: 2px solid gold; */
}
/* logo and copyright */
.logo-img-footer{
    width: 70px;
    border-radius: 50%;
}
.footer-comapny{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.copyright{
    font-weight: 400;
    padding: 10px 0;
    /* text-decoration: none; */
}
.footer-two{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 4rem;
}
.footer-items{
    display: flex;
}
.footer-item{
    list-style: none;
    border-radius: 5px;
    font-weight: 500;
}
.footer-item:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer-item a{
    text-decoration: none;
    color: #fff;
}
/* 
############################################ 
                Body CSS 
############################################ 
*/
.main{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 2rem;
}
.body-top{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn{
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: #c0bebe; 
}
.btn:hover{
    text-decoration: underline;
    box-shadow: rgba(200, 200, 200, 0.45) 0px 5px 5px;
}
.search-div{
    display: flex;
    gap: 0.5rem;
}
.input-search{
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid #c0bebe;
    font-weight: 500;
}
/* ########## Restaurant Card CSS ########### */
.res-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    padding: 0 2rem;
    /* border: 2px solid red; */
}

.res-cards a{
    text-decoration: none;
}
/* .gg{
    width: 250px;
    height: 110%;
    border: 2px solid;
}
.gg a{
    text-decoration: none;
} */
.res-card{
    width: 250px;
    height: 345px;
    display: flex;
    flex-direction: column;
    background-color: #e3e1e1;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    /* border: 2px solid red; */
}
.res-cards a{
    text-decoration: none;
    color: #000;
}
.res-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 15px 35px;
    transition: ease-in-out 0.25s ;
}
.restaurant-logo{
    width: 250px;
    border-radius: 10px 10px 0 0;
}
.res-description{
    font-family: 'Open Sans';
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.res-description h3{
    text-decoration: underline;
    /* border: 2px solid red; */

}
.res-description p,span{
    font-weight: 400;
    /* padding: 3px 0; */
    /* border: 2px solid red; */
    /* text-decoration: none; */
}
.res-description span{
    display: inline;
    /* border: 2px solid green; */
    /* text-decoration: none; */
}

/* Error Page CSS */
.error-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0;
    color: red;
    height: 100%;
    gap: 15px;
}
.error-div button{
    padding: 1rem 4rem;
}

/* #################### Home page Shimmer UI ####################   */

.shimmer-div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    padding: 0 2rem;
    margin: 6rem 2rem;
}

.shimmer-card{
    background-color: #e3e1e1;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Restaurant Menu */
.res-menu-main{
    display: flex;
    flex-direction: column;
    margin: 3rem 20%;
    padding: 10px;
    /* margin: 0.5rem 2rem; */
    /* padding: 0 20%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border:  2px solid ; */
}
.res-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.res-name h2{
    text-decoration: underline;
}
.res-cusine{
    font-weight: 500;
}
.res-rating{
    border: 1px solid;
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
    font-weight: 500;
}
.res-menu{
    margin: 2.5rem 1rem;
    /* border: 2px solid; */
}
.res-menu-card{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 20px;
    border: 2px transparent;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
    /* border: 2px solid red; */
}
.res-menu-card-left{
    /* border: 2px dotted blue; */
    width: 78%;
}
.res-menu-card-left h3{
    margin: 10px 0;
}

.res-menu-card-left p{
    margin: 10px 0;
    font-size: 14px;
    text-align: justify;
}
.res-menu-img{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
}
.res-menu-card img{
    width: 115px;
    border-radius: 10px;
}